<form method="POST" action="/users" enctype="multipart/form-data">
  <label>Nome:</label>
  <input type="text" name="nome" required />
  <label>Idade:</label>
  <input type="text" name="idade" required />
  <label>Sexo:</label>
  <input type="text" name="sexo" required />
  <label>Endereço:</label>
  <input type="text" name="endereco" required />
  <button type="submit">Criar usuário</button>
  <label>Foto:</label>
  <input type="file" name="image" accept="image/*" />
</form>
