<h1>Tabela de Usuários</h1>
<table>
  <tr>
    <th>Nome</th>
    <th>Idade</th>
    <th>Sexo</th>
    <th>Endereço</th>
    <th>Ações</th>
  </tr>
  <tr>
    <td>Felipe</td>
    <td>26</td>
    <td>Masculino</td>
    <td>Rua Do Jacaré</td>
    <td>
      <button>Exibir</button>
      <button>Editar</button>
    </td>
  </tr>
  <tr>
    <td>Rony Rustico</td>
    <td>23</td>
    <td>Masculino</td>
    <td>Rua Palestra</td>
    <td>
      <button>Exibir</button>
      <button>Editar</button>
    </td>
  </tr>
  <tr>
    <td>Mc Deyvinho</td>
    <td>25</td>
    <td>Masculino</td>
    <td>Rua Da Barra Funda</td>
    <td>
      <button >Exibir</button>
      <button>Editar</button>
    </td>
  </tr>
</table>
