<div class="column">
  <div className="box">
    <article className="media">
      <div className="media-left">
        <figure className="image is-64x64">
          <img
            src="https://conteudo.imguol.com.br/c/esporte/9f/2021/01/25/rony-1611609876421_v2_450x600.jpg.webp"
          />
        </figure>
      </div>
      <div className="media-content">
        <div className="content">
          <p>
            <div>
                <strong>Nome</strong> 
            </div>
            <div>
                <small>Rony Rustico</small>
            </div>
          </p>
          <p>
            <div>
                <strong>Idade</strong> 
            </div>
            <div>
                <small>23</small>
            </div>
          </p>
          <p>
            <div>
                <strong>Sexo</strong> 
            </div>
            <div>
                <small>Masculino</small>
            </div>
          </p>
        </div>
      </div>
    </article>
  </div>
</div>
